<div class="category-row d-flex justify-content-between align-items-center my-3" [ngClass]="is_children ? 'justify' : 'my-3'"
>
    <div>
        <h5 class="d-flex justify-content-between align-items-center">  
            <!-- @if(!is_children){
                <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
            } -->

            <app-button-link color="light" size="md" class="me-2" [icon]="faCheck"
            [path]="['categories', category.id]">{{ category.name }} </app-button-link>
            
        </h5>

    </div>

    <app-category-index-row-dropdown [category]="category"></app-category-index-row-dropdown>


    <!-- {{ colorButton }} -->
</div>